[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.4"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
praw = "*"
requests = "*"
wordcloud = "*"
matplotlib = "*"
numpy = "*"
textblob = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
