{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a href="#" data-toggle="modal" data-target="#saveModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Save the Query</a>
</div>

<!-- Content Row -->
<div class="row">

  <div id="search-container" class="container">
    

    <div id="search" class="card card-body bg-light mb-2">
      <h4>Search on Reddit</h4>
      <form id="search-form">
        <div class="form-group">
          <input
            type="text"
            id="search-input"
            class="form-control mb-3"
            placeholder="Search Term..."
            name="keyword"
          />
        </div>
        <div class="form-check form-check-inline">
          Sort By:
          <input
            class="form-check-input ml-2"
            type="radio"
            name="sortby"
            value="hot"
            checked
          />
          <label class="form-check-label"> Hot </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortby"
            value="new"
          />
          <label class="form-check-label"> New </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortby"
            value="top"
          />
          <label class="form-check-label"> Top </label>
        </div>
        <h5 class="mt-2"> From:</h5>
        <div class="form-group">
          <input
            type="date"
            id="date-input"
            class="form-control mb-3 "
            placeholder="Search Term..."
            name="fromdate"
          />
        </div>
        <h5 class="mt-2"> To:</h5>
        <div class="form-group">
          <input
            type="date"
            id="date-input"
            class="form-control mb-3"
            placeholder="Search Term..."
            name="todate"
          />
        </div>


        <h5 class="mt-2">Limit:</h5>
        <div class="form-group">
          <select name="limit" id="limit" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">
          Search
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-block mt-4"
          value="clicked"
          name="savebutton"
        >
          Save the Query
        </button>
      </form>
    </div>
  </div>
</div>
{% if table == "visible" %}
<div id="container">
  <div id="wcshow">
    <img width="90%" height="80%" src="{{wcimage}}" />
  </div>
{%endif%}

{% endblock content%}