{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Word Cloud</h1>
    <a href="#" data-toggle="modal" data-target="#saveModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Save the Query</a>
  </div>

<div id="container">
    <div id="wcshow">
      <img width="90%" height="80%" src="{{wcimage}}" />
    </div>
</div>

{% endblock content %}